In [202]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

from sklearn.pipeline import Pipeline

%matplotlib inline

In [203]:
!ls

01_Push_Shift_API.ipynb      06_Random_Forest_Model.ipynb
02_Cleaning_EDA.ipynb        Untitled Folder
03_Preprocessing.ipynb       assets
04_LogReg_Model.ipynb        data
05_Naive_Bayes_Model.ipynb

In [204]:
df = pd.read_csv('./data/bp_bts_df_clean.csv')
df.head()

,body,blackpink,char_count,word_count
0,this is something i can get behind and appreci...,1,1043,188
1,hold the fuck up rock songs i m considering...,1,75,12
2,what time and date is this in pdt 0 am is a b...,1,106,27
3,is there a list last year i remember they str...,1,84,16
4,as a blink i ll wait till mv dropped then i l...,1,149,33

In [206]:
round(df.blackpink.value_counts(normalize=True).max(),2)

0.51

In [207]:
X = df['body']
y = df['blackpink']

In [208]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.25,
                                                    random_state=42,
                                                    stratify=y)
# stratify = y --> keeps the proportion of the class the same in the train test split

In [209]:
with open('./assets/stopwords.pkl','rb') as f:
    stopwords = pickle.load(f)

In [210]:
# {'cvec__max_df': 0.98, 'cvec__max_features': 6500, 'cvec__min_df': 2, 'cvec__ngram_range': (1, 1)}

In [211]:
# Instantiate our CountVectorizer.
cvec = CountVectorizer(analyzer = "word",
                      stop_words = stopwords,
                      max_features = 6500,
                      min_df=2,
                      max_df=0.98)

X_train_cvec = cvec.fit_transform(X_train)
X_test_cvec = cvec.transform(X_test)

train_cvec_df = pd.DataFrame(X_train_cvec.todense(),   # b/c it is saved as a df...
                                    columns = cvec.get_feature_names())
test_cvec_df = pd.DataFrame(X_test_cvec.todense(), 
                            columns = cvec.get_feature_names())

train_cvec_df.describe()

,00,000,01,02,04,05,06,07,09,0am,...,yup,yymmdd,zealand,zedd,zelle,zero,zeus,zodiac,zone,zones
count,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,...,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.000000,14052.00000,14052.000000
mean,0.001566,0.001067,0.000427,0.000427,0.000427,0.001566,0.000427,0.000427,0.000285,0.000498,...,0.001566,0.000498,0.000285,0.000285,0.000285,0.000712,0.000498,0.000213,0.00121,0.000427
std,0.049166,0.032656,0.023857,0.023857,0.020660,0.068518,0.026674,0.020660,0.020662,0.025304,...,0.039538,0.025304,0.016870,0.016870,0.016870,0.026668,0.027975,0.018863,0.04044,0.023857
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
max,2.000000,1.000000,2.000000,2.000000,1.000000,5.000000,2.000000,1.000000,2.000000,2.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.00000,2.000000

##  Naive Bayes

Picking the best one of the 3 Naive Bayes model choices:
    
- BernoulliNB is best when we have 0/1 counts in all columns of X. (a.k.a. dummy variables)
- GaussianNB is best when the columns of X are Normally distributed. (Or whenever BernoulliNB and MultinomialNB are inappropriate.)
- **The columns of X are all integer counts, so MultinomialNB is the best choice here.**

In [212]:
# Instantiate our Multinomial Naive Bayes' model!

nb =  MultinomialNB()

In [213]:
# Fit our model!

nb.fit(train_cvec_df, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [214]:
# Generate our predictions!

predictions = nb.predict(test_cvec_df)

In [215]:
# Score our model on the training set.

nb.score(train_cvec_df, y_train)

0.8179618559635639

In [216]:
nb.score(test_cvec_df, y_test)

0.764730999146029

In [217]:
pipe = Pipeline([
    ('tfidf', TfidfVectorizer(analyzer='word', stop_words=stopwords)),
    ('nb', MultinomialNB())
    
])

In [218]:
params = {
    'tfidf__strip_accents': ['unicode', None],
    'tfidf__ngram_range' : [(1,1)],
    'tfidf__max_df' : [.95, .98, 1.0],
    'tfidf__min_df' : [1, 2, 5],
    'tfidf__max_features': [3000, 5000, 6500]  #does no stop_words w/ 1000 then 1500; THEN english stop_words w/ 1000 then 1500...

}
gs = GridSearchCV(pipe, param_grid=params, cv=3)   #cv do 2-3 for project; save time.
gs.fit(X_train, y_train) # also does cv in the background
print(gs.best_score_)
print(gs.best_params_)

# Train score
print(f'Train accuracy score: {gs.score(X_train, y_train)}')

# Test score
print(f'Test accuracy score: {gs.score(X_test, y_test)}')

0.7581838884144606
{'tfidf__max_df': 0.95, 'tfidf__max_features': 6500, 'tfidf__min_df': 1, 'tfidf__ngram_range': (1, 1), 'tfidf__strip_accents': 'unicode'}
Train accuracy score: 0.8437944776544264
Test accuracy score: 0.767933390264731

In [219]:
tfidf = TfidfVectorizer(analyzer = "word",
                        strip_accents = 'unicode',
                      stop_words = stopwords,
                      max_features = 6500,
                      max_df=0.95,
                       min_df = 1)

In [220]:
X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

train_tfidf_df = pd.DataFrame(X_train_tfidf.todense(),   # b/c it is saved as a df...
                                    columns = tfidf.get_feature_names())
test_tfidf_df = pd.DataFrame(X_test_tfidf.todense(), 
                            columns = tfidf.get_feature_names())

In [221]:
test_tfidf_df.head()

,00,000,01,02,04,05,06,07,09,0am,...,yymmdd,zealand,zedd,zelle,zero,zeus,zhou,zodiac,zone,zones
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [222]:
nb.fit(train_tfidf_df, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [223]:
nb.score(train_tfidf_df, y_train)

0.8437944776544264

In [224]:
nb.score(test_tfidf_df, y_test)

0.767933390264731

In [225]:
pred = nb.predict(test_tfidf_df)
pred

array([1, 0, 1, ..., 0, 1, 1])

In [226]:
confusion_matrix(y_test, pred)

array([[1928,  452],
       [ 635, 1669]])

In [227]:
tn, fp, fn, tp = confusion_matrix(y_test, pred).ravel()

In [228]:
print("True Negatives: %s" % tn)
print("False Positives: %s" % fp)
print("False Negatives: %s" % fn)
print("True Positives: %s" % tp)

True Negatives: 1928
False Positives: 452
False Negatives: 635
True Positives: 1669

What does a **true positive** mean here?:

- True positives are comments we correctly predict to be positive.
- In this case, since Blackpink = 1 (Bts=0), a true positive means I correctly predict a comment to be from the Blackpink subreddit.

---

What does a **true negative** mean here?:

- True negatives are comments we correctly predict to be negative.
- In this case, since Blackpink = 1 (Bts = 0), a true negative means I correctly predict a comment to be from the Bts subreddit.

---

What does a **false positive** mean here?:

- False positives are comments we falsely predict to be positive.
- In this case, since Blackpink = 1 (Bts = 0), a false positive means I incorrectly predict a comment to be from the Blackpink subreddit (when it's really from the Bts subreddit).

---

What does a **false negative** mean here?:

- False negatives are comments we false predict to be negative.
- In this case, since Blackpink = 1 (Bts=0), a false negative means I incorrectly predict a comment to be from the Bts subreddit (when it's really from the Blackpink subreddit).